In [1]:
#Pandas es una biblioteca de código abierto de Python que proporciona análisis y manipulación de datos.

# csv: valores separados por comas

# 1 PASO: Importar librería pandas
import pandas as pd

In [2]:
# 2 PASO: Leer archivo
#Creamos una variable y leemos el dato
data= pd.read_csv('D:/forbes.csv')
#Para saber si se ha leído, mostrar los primeros 5 registros
data.head()

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...

In [77]:
#Mostrar las columnas del archivo csv
data.columns

Index(['Company', 'Sector', 'Industry', 'Continent', 'Country', 'Market Value',
       'Sales', 'Profits', 'Assets', 'Rank', 'Forbes Webpage'],
      dtype='object')

In [76]:
#Para ver todos los datos
data

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage
0,ICBC,Financials,Major Banks,Asia,China,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,China,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,China,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
3,JPMorgan Chase,Financials,Major Banks,North America,United States,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
4,Berkshire Hathaway,Financials,Investment Services,North America,United States,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...
...,...,...,...,...,...,...,...,...,...,...,...
1995,Cameco,Materials,Diversified Metals & Mining,North America,Canada,9.5,2.4,0.3,7.6,1996,http://www.forbes.com/companies/cameco/
1996,BMCE Bank,Financials,Regional Banks,Africa,Morocco,4.6,1.5,0.1,26.3,1997,http://www.forbes.com/companies/bmce-banque-ma...
1997,Synovus Financial,Financials,Regional Banks,North America,United States,3.4,1.2,0.2,26.2,1998,http://www.forbes.com/companies/synovus-financ...
1998,Equifax,Consumer Discretionary,Business & Personal Services,North America,United States,8.5,2.3,0.3,4.5,1999,http://www.forbes.com/companies/equifax/
1999,UNY Group Holdings,Consumer Discretionary,Specialty Stores,Asia,Japan,1.4,10.7,0.1,8.8,1999,http://www.forbes.com/companies/uny-group-hold...

In [4]:
#Para ver las primeras 6 filas
print(data[:6])

                      Company      Sector              Industry  \
0                        ICBC  Financials           Major Banks
1     China Construction Bank  Financials        Regional Banks
2  Agricultural Bank of China  Financials        Regional Banks
3              JPMorgan Chase  Financials           Major Banks
4          Berkshire Hathaway  Financials   Investment Services
5                 Exxon Mobil      Energy  Oil & Gas Operations

       Continent        Country  Market Value  Sales  Profits  Assets  Rank  \
0           Asia          China         215.6  148.7     42.7  3124.9     1
1           Asia          China         174.4  121.3     34.2  2449.5     2
2           Asia          China         141.1  136.4     27.0  2405.4     3
3  North America  United States         229.7  105.7     17.3  2435.3     4
4  North America  United States         309.1  178.8     19.5   493.4     5
5  North America  United States         422.3  394.0     32.6   346.8     6

                                      Forbes Webpage
0              http://www.forbes.com/companies/icbc/
1  http://www.forbes.com/companies/china-construc...
2  http://www.forbes.com/companies/agricultural-b...
3    http://www.forbes.com/companies/jpmorgan-chase/
4  http://www.forbes.com/companies/berkshire-hath...
5       http://www.forbes.com/companies/exxon-mobil/

In [8]:
#Para ver solo una fila especifica
print(data.loc[0])  #Muestra el registro n° 0

Company                                            ICBC
Sector                                       Financials
Industry                                    Major Banks
Continent                                          Asia
Country                                           China
Market Value                                      215.6
Sales                                             148.7
Profits                                            42.7
Assets                                           3124.9
Rank                                                  1
Forbes Webpage    http://www.forbes.com/companies/icbc/
Name: 0, dtype: object

In [23]:
#NOTA: Si especificamos [['Company']] nos mostrará el campo y el valor
#      Si especificamos ['Company'] solo nos mostrará el valor

#Para mostrar solo las columnas especificadas de todos los datos
print(data[['Company','Sales']])  #Muestra las columnas "Company" y "Sales"

                         Company  Sales
0                           ICBC  148.7
1        China Construction Bank  121.3
2     Agricultural Bank of China  136.4
3                 JPMorgan Chase  105.7
4             Berkshire Hathaway  178.8
...                          ...    ...
1995                      Cameco    2.4
1996                   BMCE Bank    1.5
1997           Synovus Financial    1.2
1998                     Equifax    2.3
1999          UNY Group Holdings   10.7

[2000 rows x 2 columns]

In [24]:
#Para mostrar una columna en específico de solo de un registro
data.loc[0]['Company'] #Muestra la columna "Company" del registro 0

'ICBC'

In [25]:
#Para mostrar columnas especificadas de un registro
data.loc[1][['Company','Sales']]  #Muestra las columnas "Company" y "Sales" del registro 1

Company    China Construction Bank
Sales                        121.3
Name: 1, dtype: object

In [110]:
#Crear una nueva columna a partir de la combinación de otras
data['Continent-Country']= data['Continent'] + ' ' + data['Country']  #Crea una nueva columna a partir de la combinación de "Continent" y "Country"
data[['Continent-Country']] #Mostrar la nueva columna creada

        Continent-Country
0              Asia Japan
1              Asia Japan
2              Asia Japan
3     North America Japan
4     North America Japan
...                   ...
1995  North America Japan
1996         Africa Japan
1997  North America Japan
1998  North America Japan
1999           Asia Japan

[2000 rows x 1 columns]

In [134]:
#Eliminar columna
data.drop('Continent-Country',axis=1) # axis = 0 elimina filas(index) axis = 1 elimina columnas

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage
0,ICBC,Financials,Major Banks,Asia,Japan,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/
1,China Construction Bank,Financials,Regional Banks,Asia,Japan,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...
2,Agricultural Bank of China,Financials,Regional Banks,Asia,Japan,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...
3,JPMorgan Chase,Financials,Major Banks,North America,Japan,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/
4,Berkshire Hathaway,Financials,Investment Services,North America,Japan,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...
...,...,...,...,...,...,...,...,...,...,...,...
1995,Cameco,Materials,Diversified Metals & Mining,North America,Japan,9.5,2.4,0.3,7.6,1996,http://www.forbes.com/companies/cameco/
1996,BMCE Bank,Financials,Regional Banks,Africa,Japan,4.6,1.5,0.1,26.3,1997,http://www.forbes.com/companies/bmce-banque-ma...
1997,Synovus Financial,Financials,Regional Banks,North America,Japan,3.4,1.2,0.2,26.2,1998,http://www.forbes.com/companies/synovus-financ...
1998,Equifax,Consumer Discretionary,Business & Personal Services,North America,Japan,8.5,2.3,0.3,4.5,1999,http://www.forbes.com/companies/equifax/
1999,UNY Group Holdings,Consumer Discretionary,Specialty Stores,Asia,Japan,1.4,10.7,0.1,8.8,1999,http://www.forbes.com/companies/uny-group-hold...

In [30]:
#Sumar todas las sales (ventas) - Columnas sales
sum(data['Sales']) # suma los valores de la columna sales

38360.99999999978

In [43]:
#Redondear la suma de los valores de la columna sales (venta)
#round = redondea un valor
round(sum(data['Sales']))

38361

In [53]:
#Promedio de las columnas numéricas
data.mean()  #Muestra el promedio de las columnas con valor numérico

C:\Users\carlo\AppData\Local\Temp\ipykernel_36476\3507394245.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()  #Muestra el promedio de las columnas con valor numérico

Market Value      22.20515
Sales             19.18050
Profits            1.46375
Assets            80.48720
Rank            1000.32450
dtype: float64

In [55]:
#Promedio de una columna en especifico
data['Sales'].mean()

19.1805

In [58]:
#Promedio de columnas especificadas
data[['Sales','Rank']].mean()

Sales      19.1805
Rank     1000.3245
dtype: float64

In [74]:
#Para mostrar estadísticas básicas (count, mean, mix, max, etc) de una columna
data['Sales'].describe()

count    2000.000000
mean       19.180500
std        34.695518
min         0.000000
25%         4.200000
50%         9.200000
75%        18.825000
max       476.500000
Name: Sales, dtype: float64

In [83]:
#Listar los registros que tengan una venta menor e igual a 0.5
data[data['Sales']<=0.5]

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage
576,Porsche Automobil Holding,Consumer Discretionary,Auto & Truck Manufacturers,Europe,Germany,32.3,0.0,3.2,43.1,577,http://www.forbes.com/companies/porsche-automo...
1136,Kinnevik,Financials,Investment Services,Europe,Sweden,10.2,0.2,1.3,10.5,1137,http://www.forbes.com/companies/kinnevik/
1286,Westfield Retail Trust,Financials,Real Estate,Australia,Australia,8.3,0.5,0.7,12.3,1286,http://www.forbes.com/companies/westfield-reta...
1347,British Land,Financials,Real Estate,Europe,United Kingdom,11.0,0.5,0.4,12.6,1348,http://www.forbes.com/companies/british-land/
1614,Ezdan Holding Group,Financials,Real Estate,Asia,Qatar,11.6,0.3,0.3,11.3,1614,http://www.forbes.com/companies/ezdan-holding-...
1670,Equity Assurance,NaN,NaN,Africa,Nigeria,0.0,0.0,0.0,54.3,1670,http://www.forbes.com/companies/equity-assurance/
1677,Bolsas & Mercados,Financials,Investment Services,Europe,Spain,3.4,0.4,0.2,53.6,1678,http://www.forbes.com/companies/bolsas-mercados/
1734,Honbridge Holdings,NaN,NaN,Asia,Hong Kong,1.3,0.0,1.2,2.0,1734,http://www.forbes.com/companies/honbridge-hold...
1763,Hysan Development,Financials,Real Estate,Asia,Hong Kong,4.6,0.4,0.8,9.8,1763,http://www.forbes.com/companies/hysan-developm...
1789,Intouch Holdings,NaN,NaN,Asia,Thailand,7.6,0.3,0.5,1.5,1790,http://www.forbes.com/companies/intouch-holdings/
1799,Ruentex Development,NaN,NaN,Asia,Taiwan,2.2,0.5,1.0,2.7,1799,http://www.forbes.com/companies/ruentex-develo...
1800,RMB Holdings,Financials,Investment Services,Africa,South Africa,6.4,0.0,0.6,3.0,1801,http://www.forbes.com/companies/rmb-holdings/
1808,Cheniere Energy,NaN,NaN,North America,United States,13.7,0.3,-0.5,9.7,1808,http://www.forbes.com/companies/cheniere-energy/
1811,NetDragon Websoft,Consumer Discretionary,Recreational Products,Asia,China,1.0,0.1,1.0,0.9,1811,http://www.forbes.com/companies/netdragon-webs...
1818,"Workday, Inc.",NaN,NaN,North America,United States,17.5,0.5,-0.2,2.2,1819,http://www.forbes.com/companies/workday/
1832,Hyprop Investments,NaN,NaN,Africa,South Africa,1.8,0.2,1.0,2.5,1833,http://www.forbes.com/companies/hyprop-investm...
1849,Japan Securities,Financials,Investment Services,Asia,Japan,0.6,0.2,0.1,35.1,1850,http://www.forbes.com/companies/japan-securities/
1890,Bank of Iwate,Financials,Regional Banks,Asia,Japan,0.9,0.5,0.1,31.2,1890,http://www.forbes.com/companies/bank-of-iwate/
1913,New Media Investment Group,NaN,NaN,North America,United States,0.5,0.5,0.8,0.7,1914,http://www.forbes.com/companies/new-media-inve...
1922,Yamanashi Chuo Bank,Financials,Regional Banks,Asia,Japan,0.8,0.5,0.1,28.8,1923,http://www.forbes.com/companies/yamanashi-chuo...
1926,Oita Bank,Financials,Regional Banks,Asia,Japan,0.6,0.5,0.1,28.7,1927,http://www.forbes.com/companies/oita-bank/
1948,Aichi Bank,Financials,Regional Banks,Asia,Japan,0.6,0.5,0.0,27.8,1949,http://www.forbes.com/companies/aichi-bank/
1994,Shikoku Bank,Financials,Regional Banks,Asia,Japan,0.4,0.4,0.1,26.5,1994,http://www.forbes.com/companies/shikoku-bank/

In [103]:
#Listar los registro que tengan como "Country" a Japan, y que solo muestre la columna de "Country"
data[data['Country'] == 'Japan'][['Country']]

     Country
0      Japan
1      Japan
2      Japan
3      Japan
4      Japan
...      ...
1995   Japan
1996   Japan
1997   Japan
1998   Japan
1999   Japan

[2000 rows x 1 columns]

In [131]:
#Listar sales(ventas) que sean mayores e iguales que 50 y menos que 90, y solo mostrar las columnas "Company" y "Sector"
data[(data['Sales']>=50) & (data['Sales']<90)][['Company','Sector']]

              Company                      Sector
7         Wells Fargo                  Financials
13      HSBC Holdings                  Financials
31          Microsoft      Information Technology
37           Vodafone  Telecommunication Services
39   Procter & Gamble            Consumer Staples
..                ...                         ...
641       Metro Group            Consumer Staples
759             Bunge            Consumer Staples
765    LG Electronics      Consumer Discretionary
774           Peugeot      Consumer Discretionary
922           Finatis            Consumer Staples

[97 rows x 2 columns]

In [141]:
#Uso de .query() - Busca condicional

#Lista de sales(venta) mayores a 20
# data[data['Sales']>20]
data.query('Sales > 20')

,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage,Continent-Country
0,ICBC,Financials,Major Banks,Asia,Japan,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/,Asia Japan
1,China Construction Bank,Financials,Regional Banks,Asia,Japan,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...,Asia Japan
2,Agricultural Bank of China,Financials,Regional Banks,Asia,Japan,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...,Asia Japan
3,JPMorgan Chase,Financials,Major Banks,North America,Japan,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/,North America Japan
4,Berkshire Hathaway,Financials,Investment Services,North America,Japan,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...,North America Japan
...,...,...,...,...,...,...,...,...,...,...,...,...
1544,World Fuel Services,Consumer Discretionary,Specialty Stores,North America,Japan,3.2,41.5,0.2,4.7,1545,http://www.forbes.com/companies/world-fuel-ser...,North America Japan
1552,Wistron,Information Technology,Computer Hardware,Asia,Japan,2.0,22.0,0.2,9.7,1553,http://www.forbes.com/companies/wistron/,Asia Japan
1598,Minmetals Development,Industrials,Trading Companies,Asia,Japan,1.9,28.6,0.1,8.3,1597,http://www.forbes.com/companies/minmetals-deve...,Asia Japan
1616,Tech Data,Information Technology,Electronics,North America,Japan,2.4,26.3,0.2,6.7,1617,http://www.forbes.com/companies/tech-data/,North America Japan
1633,SK Networks,Industrials,Trading Companies,Asia,Japan,2.2,23.7,-0.5,8.4,1634,http://www.forbes.com/companies/sk-networks/,Asia Japan

In [146]:
#Lista de Companys que tienen el Assets(activos) mayores que 20 y menores e iguales que 130
data.query('Assets>20 and Assets<=130')[['Company']] #Mostramos solo la columna "Company"

                Company
34                  IBM
51               Google
53             Novartis
71                 BASF
76       ConocoPhillips
...                 ...
1979    Tomony Holdings
1992       Arab Banking
1994       Shikoku Bank
1996          BMCE Bank
1997  Synovus Financial

[796 rows x 1 columns]

In [172]:
#Agregamos un índice
data1=data.reset_index()
data1

,index,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage,Continent-Country
0,0,ICBC,Financials,Major Banks,Asia,Japan,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/,Asia Japan
1,1,China Construction Bank,Financials,Regional Banks,Asia,Japan,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...,Asia Japan
2,2,Agricultural Bank of China,Financials,Regional Banks,Asia,Japan,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...,Asia Japan
3,3,JPMorgan Chase,Financials,Major Banks,North America,Japan,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/,North America Japan
4,4,Berkshire Hathaway,Financials,Investment Services,North America,Japan,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...,North America Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,Cameco,Materials,Diversified Metals & Mining,North America,Japan,9.5,2.4,0.3,7.6,1996,http://www.forbes.com/companies/cameco/,North America Japan
1996,1996,BMCE Bank,Financials,Regional Banks,Africa,Japan,4.6,1.5,0.1,26.3,1997,http://www.forbes.com/companies/bmce-banque-ma...,Africa Japan
1997,1997,Synovus Financial,Financials,Regional Banks,North America,Japan,3.4,1.2,0.2,26.2,1998,http://www.forbes.com/companies/synovus-financ...,North America Japan
1998,1998,Equifax,Consumer Discretionary,Business & Personal Services,North America,Japan,8.5,2.3,0.3,4.5,1999,http://www.forbes.com/companies/equifax/,North America Japan
1999,1999,UNY Group Holdings,Consumer Discretionary,Specialty Stores,Asia,Japan,1.4,10.7,0.1,8.8,1999,http://www.forbes.com/companies/uny-group-hold...,Asia Japan

In [180]:
# Suma de ventas por Company
# Primero agrupamos por "Company"
# Segundo, sumamos las ventas por la agrupación de "Company"
# Tercero, solo mostramos la columna de "Sales"
data1.groupby('Company').sum('Sales')[['Sales']]

                         Sales
Company
3M                        30.9
77 Bank                    1.1
A2A                        7.1
ABB                       41.8
ACE                       18.9
...                        ...
Zodiac Aerospace           5.1
Zoetis                     4.6
Zoomlion Heavy Industry    6.2
Zurich Insurance Group    71.9
eBay                      16.0

[2000 rows x 1 columns]

In [186]:
# Cantidad de ventas por "Sector"
data1.groupby('Sector').count()[['Sales']]

                            Sales
Sector
Consumer Discretionary        266
Consumer Staples              145
Energy                        121
Financials                    581
Health Care                    88
Industrials                   262
Information Technology        131
Materials                     189
Telecommunication Services     62
Utilities                     109

In [187]:
data1

,index,Company,Sector,Industry,Continent,Country,Market Value,Sales,Profits,Assets,Rank,Forbes Webpage,Continent-Country
0,0,ICBC,Financials,Major Banks,Asia,Japan,215.6,148.7,42.7,3124.9,1,http://www.forbes.com/companies/icbc/,Asia Japan
1,1,China Construction Bank,Financials,Regional Banks,Asia,Japan,174.4,121.3,34.2,2449.5,2,http://www.forbes.com/companies/china-construc...,Asia Japan
2,2,Agricultural Bank of China,Financials,Regional Banks,Asia,Japan,141.1,136.4,27.0,2405.4,3,http://www.forbes.com/companies/agricultural-b...,Asia Japan
3,3,JPMorgan Chase,Financials,Major Banks,North America,Japan,229.7,105.7,17.3,2435.3,4,http://www.forbes.com/companies/jpmorgan-chase/,North America Japan
4,4,Berkshire Hathaway,Financials,Investment Services,North America,Japan,309.1,178.8,19.5,493.4,5,http://www.forbes.com/companies/berkshire-hath...,North America Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,Cameco,Materials,Diversified Metals & Mining,North America,Japan,9.5,2.4,0.3,7.6,1996,http://www.forbes.com/companies/cameco/,North America Japan
1996,1996,BMCE Bank,Financials,Regional Banks,Africa,Japan,4.6,1.5,0.1,26.3,1997,http://www.forbes.com/companies/bmce-banque-ma...,Africa Japan
1997,1997,Synovus Financial,Financials,Regional Banks,North America,Japan,3.4,1.2,0.2,26.2,1998,http://www.forbes.com/companies/synovus-financ...,North America Japan
1998,1998,Equifax,Consumer Discretionary,Business & Personal Services,North America,Japan,8.5,2.3,0.3,4.5,1999,http://www.forbes.com/companies/equifax/,North America Japan
1999,1999,UNY Group Holdings,Consumer Discretionary,Specialty Stores,Asia,Japan,1.4,10.7,0.1,8.8,1999,http://www.forbes.com/companies/uny-group-hold...,Asia Japan